{% extends 'portfolio/base.html' %}
{% block content %}
{% load static %}
<section class="container mt-5">
    <div class="row p-3 razzak-home">
        <div class="col-md-6 mt-5 razzak-left">
            <h1 class="text-uppercase Port">Md. Abdur Razzak<br><span>Web
                    Developer</span></h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Necessitatibus veritatis quibusdam vero nemo nobis autem
                quisquam
                quas repellat facilis expedita quaerat explicabo illo porro,
                tempora, voluptatibus doloribus, ducimus esse. Accusamus?</p>
            <button class="btn btn-info text-white"><a style="text-decoration: none;color: tomato" href="{% static 'portfolio/razzak.html' %}">Hire Me</a></button>

        </div>
        <div class="col-md-6 bg-image razzak-right">
            <img class="float-end" src="{% static 'portfolio/razzak.png' %}"
                height="450"
                width="450" alt="">
        </div>
 
    </div>
</section>
<section class="container mt-5">
    <h1 class="text-center">About Me</h1>
    <div class="row p-3">
        <div class="col-md-6 mt-5">
            <img class="float-start rounded-3" src="{% static 'portfolio/243561821_1011273306114730_808639990406022995_n.jpg' %}" height="300" width="350" alt="">
        </div>
        <div class="col-md-6 mt-5">
            <h1 class="text-uppercase penguins">I Am Programmer</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Necessitatibus veritatis quibusdam vero nemo nobis autem
            quisquam
            quas repellat facilis expedita quaerat explicabo illo porro,
            tempora, voluptatibus doloribus, ducimus esse. Accusamus?</p>
            <button class="btn btn-info text-white"><a style="text-decoration: none; color: white;" href="{% static 'portfolio/Abdur Razzak cv.pdf' %}">Download Resume</a></button>
        </div>

    </div>
</section>

<section class="container mt-5">
    <h1 class="text-center">My Teams </h1>
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
        {% for project in projects %}
        <div class="col">
            <div class="card h-100">
                <img style="border-radius: 100%;" src="{{ project.image.url }}" height="300" class="card-img-top p-sm-5"  >
                <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                {% if project.url %}
                <h6><a style="text-decoration: none;color: tomato" href="{{ project.url }}">Show Details...</a></h6>
                {% endif %}
                </div>    
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<section class="container mt-5 bg-dark">
    <footer class=" text-center text-white">
        <p>Design And Develop By Abdur Razzak</p>

    </footer>
</section>
{% endblock %}

Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam non nulla ut dolorem magni laudantium exercitationem excepturi quo eum nesciunt quos fuga ratione, voluptates cupiditate ab provident consequuntur ullam animi?